<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redireccionamiento de URLs</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
    .button-container .btn {
      width: 200px;
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>

<div class="container mt-4">
  <h1 class="text-center">Redireccionamiento de CRUDS</h1>
  <div class="button-container">
    <a href="http://localhost:8081/proveedor/listar/REST" class="btn btn-primary">Proveedores</a>
    <a href="http://localhost:8081/producto/listar/REST" class="btn btn-secondary">Productos</a>
    <a href="http://localhost:8081/prod_prov/listar/REST" class="btn btn-success">Relacionar Proveedor y productos</a>
    <a href="http://localhost:8081/pedido/listar/REST" class="btn btn-info">Pedidos</a>
    <a href="http://localhost:8081/lineadetalleC/listar/REST" class="btn btn-warning">Linea de detalle de conformidad</a>
    <a href="http://localhost:8081/linea_detalle_p/listar/REST" class="btn btn-danger">Linea de detalle de pedido</a>
    <a href="http://localhost:8081/guia_despacho/listar/REST" class="btn btn-danger">Linea de detalle de pedido</a>
    <a href="http://localhost:8081/encargado/listar/REST" class="btn btn-danger">Encargado</a>
    <a href="http://localhost:8081/administrador/listar/REST" class="btn btn-danger">Administrador</a>
    <a href="http://localhost:8081/menu/inicio" class="btn btn-danger">Volver</a>
  </div>
</div>

<!-- jQuery y Popper.js (necesarios para los plugins de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
